html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  background-color: var(--color-surface);
}

#app {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.2rem;
  font-weight: 600;
  color: var(--color-text-primary);
}

p {
  margin: 0 0 1.2rem;
  color: var(--color-text-secondary);
}

button {
  cursor: pointer;
}

main {
  display: block;
}

