.app-shell {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  background-color: var(--color-surface);
}

.app-main {
  padding: 2.4rem;
}

.app-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: var(--color-text-secondary);
  border-top: 0.1rem solid var(--color-border);
  background-color: var(--color-surface-contrast);
  padding: 1.2rem;
}

@media (max-width: 48rem) {
  .app-main {
    padding: 1.6rem;
  }
}

